{% block sidebar %}

<aside class="col-md-3 col-lg-3" style="height: auto !important">
  <a
    href="{% url 'add_entries' %}"
    target="_blank"
    class="text-decoration-none py-1"
    rel="noreferrer"
    ><div class="p-3 text-light mb-2 " style="opacity: 1; transform: none">
      <div class="d-flex">
        <img
          src="https://i.imgur.com/PQvxVCG.png"
          class="m-2"
          style="width: 10rem"
        />
      </div>
      <p style="font-size: 0.9rem">
        Add game tickets or presales, such as information on various topics
        related to games.
      </p>
    </div></a
  ><a
    href="{% url 'add_games' %}"
    target="_blank"
    class="text-decoration-none py-1"
    rel="noreferrer"
    ><div class="p-3 text-light mb-2 " style="opacity: 1; transform: none">
      <div class="d-flex">
        <img
          src="https://i.imgur.com/6W9nlLo.png"
          class="m-2"
          style="width: 10rem"
        />
      </div>
      <p style="font-size: 0.9rem">
        Add many more games to our list, remember to follow the posting rules
        for each game.
      </p>
    </div></a
  >
  <a
    href="{% url 'add_news' %}"
    target="_blank"
    class="text-decoration-none py-1"
    rel="noreferrer"
    ><div class="p-3 text-light mb-2 " style="opacity: 1; transform: none">
      <div class="d-flex">
        <img
          src="https://i.imgur.com/RE4ZTXc.png"
          class="m-2"
          style="width: 10rem"
        />
      </div>
      <p style="font-size: 0.9rem">
        Add news to inform our users and visitors about new games, web issues
        and promotions.
      </p>
    </div></a
  >
</aside>

{% endblock sidebar %}
